img {
    width: 30%;
    margin: 1.6666%;
    border-radius: 2%;
    transition: transform .2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

body{
    background-color: #9b9b9b;
}

nav {
    margin-left: 20px;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
}

footer {
    text-align: center;
}

div {
    display: inline;
}

.center {
    padding-left: 32%;
}

.white {
    color: #fefefed5;
}
